@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IEnumerable<eRestoran.Models.Obavijesti>

@{
    ViewData["Title"] = "Prikaz obavijesti";
}

<link href="~/css/login.css" rel="stylesheet" />
<div style="background-color:#f4f4f4; min-height: 600px; padding: 3em;">
    <center><h2>Pregled obavijesti</h2></center>
    @if (Model is null)
    {
        <center style="padding-top:50px; padding-bottom:50px;"><h5>Trenutno nema obavijesti</h5></center>
    }
    else
    {
        <table class="table" style="margin-top:2em;">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Poruka)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DatumVrijeme)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Poruka)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumVrijeme)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="akcija">Ukloni obavijest</a><br />
                            <a asp-controller="SMS" asp-action="SendMessage">Posalji SMS</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div id="container" style="margin-left: 20px">
            <p></p>
            <p></p>

        </div>
        <div class="pagination-lg" style="margin-left: 400px">

            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Obavijesti", new { page, Area = "Uposlenik" }))
        </div>

        <div class="pdfbutton"style="background-color:yellow; padding:10px" >
            <a asp-action="IzvjestajPDF" asp-controller="Izvjestaji" asp-area="Uposlenik" style="font-weight:bold; float: inline-end">Preuzmi izvještaj - PDF</a>
        </div>
    }
</div>
