@model eRestoran.Models.Uposlenik

@{
    ViewData["Title"] = "Detalji uposlenika";
}

<link href="~/css/login.css" rel="stylesheet" />
<div style="background-color:#f4f4f4; min-height: 600px; padding: 3em;">
    <center><h3>@ViewData["Title"]</h3></center>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restoran)
        </dt>
        <dd class="col-sm-10">
         @Html.DisplayName("eRestoran")
        </dd>
      
   
    </dl>

    <div>
        <a asp-action="Index" class="akcija">Lista uposlenika</a>
    </div>

</div>