@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Uredi";
}
@model eRestoran.Areas.Admin.ViewModels.UrediStavkaVM


@{
    ViewData["Title"] = "Uredi";
}

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>

<style>
    .detaljiContainer {
        padding: 30px;
        background-color: #f4f4f4;
        height: 100%;
        padding-top: 100px;
    }

    .sectionDetalji {
        display: flex;
    }

        .sectionDetalji > img {
            flex-basis: 40%;
            padding-top: 20px;
        }

        .sectionDetalji .Opis {
            flex-basis: 60%;
            padding-left: 30px;
            padding-top: 100px;
        }
</style>
<form asp-controller="MeniPostavke" asp-action="SpasiPromjene" data-parsley-validate id="mojaFormaID">
    <div class="detaljiContainer">
        <h4 style="color:gray; letter-spacing:3px;">JELO</h4>
        <div class="sectionDetalji">
            <input asp-for="KategorijaId" value="@Model.KategorijaId" hidden />
            <input asp-for="Id" value="@Model.Id" hidden />
            @*@foreach (var x in Model.Rows)
                {*@
            <img src="@Model.LinkZaSliku" alt="Slika" style="width:400px;" />
            <div class="Opis">
                <div class="form-group">
                    <label class="control-label" asp-for="Naziv" value="@Model.Naziv"></label>
                    <input class="form-control" asp-for="Naziv" value="@Model.Naziv" id="naziv" />
                    <span asp-validation-for="Naziv"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="Opis" value="@Model.Opis"></label>
                    <textarea class="form-control" asp-for="Opis" value="@Model.Opis" id="opis"></textarea>
                    <span asp-validation-for="Opis"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="Cijena" value="@Model.Cijena"></label>
                    <input class="form-control" asp-for="Cijena" value="@Model.Cijena" required id="cijena" />
                    <span asp-validation-for="Cijena"></span>
                </div>
                @*<div class="text" style="width:170px;">
                        <a asp-action="SpasiPromjene" asp-controller="MeniPostavke" asp-route-id="@Model.Id" style="cursor:pointer;">Snimi</a>
                    </div>*@
                <input type="submit" value="Spasi izmjene" />



            </div>
            @*}*@






        </div>

    </div>

</form>
<script>


    $("#mojaFormaID").validate({

        rules: {

            cijena: {
                required: true,
                regexFunkcija: ^ (? (?= 99)99(\\.0+) ?| ([1 - 9]\\d ? (\\.\\d +)?)) $

},

    opis: {

        required: true,

            minlength: 6,

                regexFunkcija: ^.{ 6,} $

    },

    naziv: {

        required: true,
            minlenght: 4,
                regexFunkcija: ^.{ 4,} $

    }


});
    $.validator.addMethod(

        "regexFunkcija",

        function (value, element, regexp) {

            var check = false;

            return this.optional(element) || regexp.test(value);

        },

        "Please check your input."

    );
    function Snimi() {
        if (!$("#mojaFormaID").valid()) {
            console.log("Pogrešan unos");
            return;

        }
    }

</script>
